html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */

    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(56, 56, 56, 1) 60%, rgba(114, 114, 114, 1) 100%);
}